.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #f3f7fa;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}