@import '../../../global.css';

.ticket {
    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(91, 137, 164, 0.25);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
}

.buy {
    border-right: 1px solid #ECEFF1;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
}

.logo {
    height: 35px;
}

.button {
    cursor: pointer;
    background: #FF6D00;
    box-shadow: 0 1px 0 0 #D64D08, 0 2px 1px 0 rgba(0, 0, 0, 0.10);
    border-radius: var(--border-radius);
    border: none;
    padding: 6px 35px;
    transition: background .3s, box-shadow .3s;
    width: 160px;
}

.button:hover {
    background: #FF8124;
    box-shadow: 0 1px 0 0 #F7661D, 0 1px 5px 0 rgba(0, 0, 0, 0.25);
}

.button:focus {
    outline: none;
}

.buttonText {
    display: block;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
}

.logo {
    margin: 0 0 20px 0;
}

.description {
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 315px;
}

.firstLine {
    margin-bottom: 10px;
}

.firstLine,
.secondLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.origin {
    text-align: left;
}

.destination {
    text-align: right;
}

.time {
    display: inline-block;
    font-size: 32px;
    color: var(--first-font-color);
    letter-spacing: 0;
    line-height: 26px;
}

.city {
    display: block;
    font-weight: 600;
    font-size: 12px;
    color: var(--first-font-color);
    line-height: 18px;
}

.date {
    display: block;
    font-size: 12px;
    color: var(--second-font-color);;
    line-height: 18px;
}

.path {
    position: relative;
    flex-grow: 1;
    text-align: center;
}

.stops {
    font-weight: 600;
    font-size: 10px;
    color: var(--second-font-color);;
    text-align: center;
    line-height: 12px;
    text-transform: uppercase;
    vertical-align: top;
}

.line {
    display: block;
    height: 1px;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 35px;
    background: var(--gray);
}

.airplane {
    position: absolute;
    top: 14px;
    right: 22px;
}