@import '../../../global.css';

.item {
    cursor: pointer;
    user-select: none;
    font-size: 13px;
    color: var(--first-font-color);
    line-height: 36px;
    position: relative;
    padding: 0 15px;
}

.item:hover {
    background-color: #F1FCFF;
}

.input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    display: none;
}

.checkmark {
    position: relative;
    top: 4px;
    display: inline-block;
    box-sizing: border-box;
    height: 19px;
    width: 19px;
    background: #FFFFFF;
    border: 1px solid var(--gray);
    border-radius: 3px;
    margin-right: 10px;
}

.input:checked + .checkmark {
    background: #F2FCFF;
    border: 1px solid var(--blue);
}

.checkmark:after {
    content: '';
    position: absolute;
    opacity: 0;
    top: 5px;
    left: 4px;
    width: 9px;
    height: 7px;
    background: url('../../../images/checkmark.svg') no-repeat;
    transition: opacity .2s;
}

.input:checked + .checkmark:after {
    opacity: 1;
}

.label {
    display: block;
    cursor: pointer;
}

.only {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    padding: 0;
    border: none;
    background: none;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    color: var(--blue);
    margin-right: 15px;
    letter-spacing: 0.5px;
    line-height: 36px;
    transform: translateY(25px);
    transition: opacity .15s ease, transform .15s ease-out;
}

.only:focus {
    outline: none;
}

.item:hover .only {
    opacity: 1;
    transform: translateY(0);
}